h1 {
    color: #49b5e7;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.wrap{
    overflow: hidden;
  }
  
  table{
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 12px;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: auto;
    width: 75%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  th{
    background-color:#49b5e7;
    color:#ffffff;
    width: 50px;
    height:50px;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
  }
  
  td{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    background-color:#ffffff;
    width: 50px;
    height:50px;
    text-align:center;

    word-wrap: break-word;

  }

  tr{
    border-bottom: 1px solid #ddd;
  }

  tr:first-child th:first-child{
    border-top-left-radius: 10px;
  }
  tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
  }
  tr:first-child th:last-child{
    border-top-right-radius: 10px;
  }
  tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
  }